$blue: #005BD4;
$sky-blue: #005BD4;

$font-sizes: 15, 20;
$line-heights: 20, 24;
$letter-spacing: 16, 20;
$border-radius: 8, 12;
$width-percentage: 20, 30;
$height-percentage: 20, 30;
$gutters: 20, 30, 50;
$z-index: 1, 2, 3;

$text-colors: ('blue', $blue), ('sky-blue', $sky-blue);

$background-colors: ('blue', $blue), ('sky-blue', $sky-blue);

$border-colors: ('blue', $blue), ('sky-blue', $sky-blue);
